---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'MaisonNeue', Helvetica, sans-serif;
$base-font-size:   16px;
$small-font-size:  0.75rem;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #000;
$background-color: #fff;
$brand-color:      #000;
$secondary-color:  #fff;

$grey-color:       rgba(0,0,0,0.5);
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$font-book:        300;
$font-bold:        700;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "common",
  "base",
  "layout",
  "syntax-highlighting",
  "typography"
;

#container {
  min-height: 100%;
  position: relative;

  .header {
    height: 66px;

    a {
      font-size: $small-font-size;
      display: inline-block;
    }

    &__container {
      padding: 22px 0 20px;
      background-color: $background-color;
      position: fixed;
      left: 0;
      right: 0;
      z-index: 5;

      &--nav {

        nav {

          ul {
            margin: 0;
            list-style-type: none;

            li {
              display: inline-block;
              margin-right: 2.5rem;

              .active {
                @include disabled;

                &:after {
                  background-color: black;
                }
              }
            }
          }
        }
      }

      &--logo {
        text-align: center;

        a {
          font-weight: $font-bold;
          letter-spacing: 0.125rem;

          &:after {
            display: none;
          }
        }
      }

      &--email {
        text-align: right;
      }
    }
  }

  .introductory-banner {
    padding-top: 6.8125rem;

    &__main-text {
      margin-bottom: 3.0625rem;

      h2 {
        font-size: 1.5rem;
      }

      h3 {
        font-size: 1rem;
      }
    }

    &__buttons {

      a {
        font-size: 0.875rem;
        font-weight: $font-bold;
        padding: 10px 30px 7px;
        border-radius: 2px;
        border: solid 1px $brand-color;

        &:after {
          display: none;
        }
      }

      &--primary-button {
        background-color: $brand-color;
        color: $secondary-color;

        &:hover {
          background-color: rgba(0,0,0,0.75);
        }
      }

      &--secondary-button {
        font-weight: $font-book !important;
        background-color: transparent;
        color: $brand-color;

        &:hover {
          background-color: rgba(0,0,0,0.05);
        }
      }
    }
  }

  .content {
    padding-bottom: 100px;
  }

  .list-posts {
    padding-top: 20px;
    counter-reset: postCounter;

    &__post {
      margin-top: 40px;
      counter-increment: postCounter;
      cursor: default;

      &:before {
        content: '0' counter(postCounter) ' —';
        display: block;
        font-size: 0.625rem;
        color: rgba(0,0,0,0.3);
      }

      &--title {

        h1 {
          font-weight: 700;
          font-size: 1rem;
        }

        &:after {
          display: none;
        }

        &:hover {
          opacity: 0.6;
        }
      }

      &--excerpt {
        font-size: $small-font-size;
        color: rgba(0,0,0,0.5);
        margin-bottom: 18px;
      }

      &--link {
        font-size: $small-font-size;
      }
    }
  }

  .project-image {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.8;

    img {
      position: absolute;
      top: 3.125rem;
      @include invisible;
    }
  }

  .about {
    &__body {
      padding-top: 1.125rem;

      &--text {
        font-size: 0.875rem;
        line-height: 1.8;

        a {
          font-size: inherit;
        }
      }
    }
  }

  .post {
    padding-top: 1.125rem;

    p {
      font-size: 0.875rem;
      margin-top: 1.3125rem;
      margin-bottom: 1.3125rem;
    }

    img {
      margin-bottom: 10px;
    }

    &__title {
      h3 {
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 1.2;
      }

      h6 {
        font-size: $small-font-size;
        color: rgba(0,0,0,0.6);
      }
    }

    &__previous-next-project {
      width: 100%;
      position: fixed;
      top: 50%;
      margin-top: -12px;
      padding: 0 15px;

      a {
        &:after {
          display: none;
        }
      }

      &--previous {
        float: left;
      }

      &--next {
        float: right;
      }

      .empty {
        opacity: 0.3;
        @include disabled;
      }
    }
  }

  .footer {
    height: 43px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    a, p {
      font-size: $small-font-size;
    }

    &__container {
      padding: 10px 0 9px;

      &--copyright {
        text-align: left;
      }

      &--funny-text {
        text-align: right;
      }
    }
  }
}