---
layout: default
---

{% include joke.html %}

<!-- for loop goes here -->
{% for post in site.posts %}
    <article class="row post-link">
    	<div class="medium-10 medium-offset-1 large-6 large-offset-1 columns">
    		<a href="{{ post.url | prepend: site.baseurl }}">
    			<h1 class="font-book fs22 primary-color">{{ post.display_title }}</h1>
    		</a>
    	</div>
    	<a href="{{ post.url | prepend: site.baseurl }}">
    		<img class="feature-image" src="{{ site.baseurl }}assets/img/{{ post.feature_image }}"/>
        </a>
    </article>
{% endfor %}
