.mega-center-wrapper {
    @include display(flex);
    @include size(100% 100vh);
    cursor: pointer;
    position: relative;

    > .container {
        @include align-items(center);
        @include display(flex);
        @include justify-content(center);
        height: 100vh;
        margin: 0 auto;
        max-width: 960px;
        padding: 0 20px;
        position: relative;

        > .matt-lieber {
            font-size: 20px;
            text-align: center;
        }

        .description {
            font-weight: $font-weight-regular;
        }
    }

    .instruction {
        @include position(absolute, null 0 30px 0);
        color: $dark-grey;
        font-size: 14px;
        text-align: center;

        > .key {
            @include position(relative, -1px null null null);
            border: 1px solid rgba($black, .1);
            border-radius: 2px;
            font-size: $tiny-font-size;
            font-weight: $font-weight-bold;
            letter-spacing: .3em;
            padding: 4px 13px 4px 15px;
            text-transform: uppercase;
        }
    }

    button {
        @include position(absolute, 20px 20px null null);
    }
}
