<footer class="row footer">
	<div class="small-12 medium-6 columns footer__copyright">
		<p>&copy;&nbsp;&mdash;&nbsp;&infin;</p>
	</div>
	<div class="small-12 medium-6 columns footer__social-links">
		<p><a href="https://twitter.com/congphammm" target="_blank">twitter</a>&nbsp;&mdash;&nbsp;<a href="https://instagram.com/congphammm" target="_blank">instagram</a>&nbsp;&mdash;&nbsp;<a href="http://justamateurhuman.com" target="_blank">blog</a></p>
	</div>
</footer>

<script src="{{ site.baseurl }}/assets/js/foundation.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/AnimateUtils.js"></script>
<script src="{{ site.baseurl }}/assets/js/CanvasUtils.js"></script>
<script src="{{ site.baseurl }}/assets/js/congphamdesign.js"></script>
<script>
    $(document).foundation();
</script>
