<footer class="row footer">
	<div class="footer__container">
		<div class="small-12 medium-6 large-6 columns footer__container--copyright">
			<p>&copy;&nbsp;&mdash;&nbsp;{{ site.time | date: '%Y' }}</p>
		</div>
		<div class="small-12 medium-6 large-6 columns footer__container--funny-text">
			<p>Made with 🍠   from Saigon, 🇻🇳 .</p>
		</div>
	</div>
</footer>

<script src="{{ site.baseurl }}/assets/js/foundation.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/AnimateUtils.js"></script>
<script src="{{ site.baseurl }}/assets/js/app.js"></script>
<script>
    $(document).foundation();
</script>
