<footer class="row footer text-center">
	<div class="large-6 large-offset-3 columns">
		<figure>
	    	<img src="{{ site.baseurl }}/assets/img/coffee-cup-normal.svg" width="138" height="123" data-hover="{{ site.baseurl }}/assets/img/coffee-cup-hover.svg" data-normal="{{ site.baseurl }}/assets/img/coffee-cup-normal.svg"/>
	    	<figcaption><p class="font-book fs16 secondary-color copywriting"></p></figcaption>
		</figure>
	</div>
</footer>

<script src="{{ site.baseurl }}/assets/js/foundation.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/congphamdesign.js"></script>
<script>
    $(document).foundation();
</script>
