<header class="header row">
  <div class="small-12 medium-6 columns header__logo">
    <a href="/">cong pham</a><span>&nbsp;&mdash;</span>
    <p>dreamer, pixel pusher and maker of things</p>
  </div>
  <div class="small-12 medium-6 columns header__nav">
    <nav>
      <li>
        <a id="home" href="/" class="active">works</a>
      </li>
      <li>
        <a id="about" href="/about">about</a>
      </li>
      <li>
        <a href="mailto:me@congphamdesign.com">contact</a>
      </li>
    </nav>
  </div>
</header>
