<header class="header row">
    <div class="small-12 medium-2 medium-offset-1 columns">
        <a href="/" class="font-bold fs16 primary-color">Cong Pham</a>
    </div>
    <nav>
        <li class="small-4 medium-1 columns">
            <a id="home" href="/" class="active font-book fs16 secondary-color">Works</a>
        </li>
        <li class="small-4 medium-1 columns">
            <a id="about" href="/about" class="font-book fs16 secondary-color">About</a>
        </li>
        <li class="small-4 medium-1 columns left">
            <a href="mailto:me@congphamdesign.com" class="font-book fs16 secondary-color">Contact</a>
        </li>
    </nav>
</header>
