<div class="row funny-joke hide-for-small">
    <div class="medium-6 medium-offset-3 columns rand">
        <p class="font-book fs22 primary-color lh30 rand-item">I promise you this won’t be <br/><span class="secondary-color">“Hello, my name is <span class="font-book-italic">blah blah</span>”</span> bullshit.</p>
        <p class="font-book fs22 primary-color lh30 rand-item">But instead. <br/>It'll be a joke.</p>
        <p class="font-book fs22 primary-color lh30 rand-item">Two guys walk into a bar,<br/> and sit down to eat their lunches. </p>
        <p class="font-book fs22 primary-color lh30 rand-item">Then the bartender says,<br/> <span class="secondary-color">"Sorry, but you can't eat your own food in here."</span></p>
        <p class="font-book fs22 primary-color lh30 rand-item">So the two guys look at each other,<br/> and swap lunches.</p>
        <p class="font-book fs22 primary-color lh30 rand-item">Hold on! <br/>Here comes another one...</p>
        <p class="font-book fs22 primary-color lh30 rand-item">A policeman stops a motorist and asks,<br/><span class="secondary-color">"Excuse me, Sir, have you been drinking?"</span></p>
        <p class="font-book fs22 primary-color lh30 rand-item">The motorist says,<br/><span class="secondary-color">"Why&mdash;do I got an ugly girl next to me?"</span></p>
        <p class="font-book fs22 primary-color lh30 rand-item">Anyways, enough joke.<br>Please check out my works below...</p>
        <p class="font-book fs22 primary-color lh30 rand-item">...they're way more interesting!</span></p>
        <p class="font-book fs22 primary-color lh30 rand-item">If you need me,<br/>shoot me an <a class="primary-color" href="mailto:me@congphamdesign.com">email</a>.</p>
        <p class="font-book fs22 primary-color lh30 rand-item">So long!<br/>And good day to you!</p>
    </div>
</div>