{% if page.previous.url or page.next.url %}
  <div class="post__previous-next-project clearfix">
    {% if page.previous.url %}
      <div class="post__previous-next-project--previous">
    {% else %}
      <div class="post__previous-next-project--previous empty">
    {% endif %}
      <a href="{{ page.previous.url }}" class="font-bold fs22 primary-color">&larr;</a>
    </div>
    {% if page.next.url %}
      <div class="post__previous-next-project--next">
    {% else %}
      <div class="post__previous-next-project--next empty">
    {% endif %}
      <a href="{{ page.next.url }}" class="font-bold fs22 primary-color">&rarr;</a>
    </div>
  </div>
{% endif %}
