@mixin transform($function) {
  transform: #{$function};
  -webkit-transform: #{$function};
  -moz-transform: #{$function};
}

@mixin transition($function) {
  transition: #{$function};
  -webkit-transition: #{$function};
  -moz-transition: #{$function};
}

@mixin disabled {
  cursor: default;
  pointer-events: none;
}

@mixin invisible {
  opacity: 0;
  visibility: hidden;
}

@mixin visible {
  opacity: 1 !important;
  visibility: visible !important;
}

.show {
  @include visible;
  @include transform('none !important');
}
