@mixin font-face($font-name, $font-weight, $font-style, $font-src) {
  font-family: #{$font-name};
  font-weight: #{$font-weight};
  font-style: #{$font-style};
  src: url('../assets/fonts/#{$font-src}.eot');
  src: url('../assets/fonts/#{$font-src}.woff2') format('woff2'),
  		 url('../assets/fonts/#{$font-src}.woff') format('woff'),
       url('../assets/fonts/#{$font-src}.ttf') format('truetype'),
       url('../assets/fonts/#{$font-src}.svg#Edmondsans') format('svg');
}

$font-name: 'Edmondsans';

@font-face {
  @include font-face($font-name, 300, 'normal', 'edmondsans-regular-webfont');
}

@font-face {
  @include font-face($font-name, 500, 'normal', 'edmondsans-medium-webfont');
}

@font-face {
  @include font-face($font-name, 700, 'normal', 'edmondsans-bold-webfont');
}
