@mixin font-face($font-name, $font-weight, $font-style, $font-src) {
  font-family: #{$font-name};
  font-weight: #{$font-weight};
  font-style: #{$font-style};
  src: url('../assets/fonts/#{$font-src}.eot');
  src: url('../assets/fonts/#{$font-src}.woff') format('woff'),
       url('../assets/fonts/#{$font-src}.ttf') format('truetype');
}

@font-face {
  @include font-face('Circular', 500, 'normal', 'lineto-circular-book');
}

@font-face {
  @include font-face('Circular', 500, 'italic', 'lineto-circular-bookItalic');
}

@font-face {
  @include font-face('Circular', 700, 'normal', 'lineto-circular-bold');
}
