@font-face {
  font-family: "Whitney";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/whitney-pro/whitney-book.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/whitney-pro/whitney-book.woff") format("woff"), url("../assets/fonts/whitney-pro/whitney-book.ttf") format("truetype"); }
@font-face {
  font-family: "Whitney";
  font-style: italic;
  font-weight: 300;
  src: url("../assets/fonts/whitney-pro/whitney-book-italic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/whitney-pro/whitney-book-italic.woff") format("woff"), url("../assets/fonts/whitney-pro/whitney-book-italic.ttf") format("truetype"); }
@font-face {
  font-family: "Whitney";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/whitney-pro/whitney-medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/whitney-pro/whitney-medium.woff") format("woff"), url("../assets/fonts/whitney-pro/whitney-medium.ttf") format("truetype"); }
@font-face {
  font-family: "Whitney";
  font-style: italic;
  font-weight: 500;
  src: url("../assets/fonts/whitney-pro/whitney-medium-italic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/whitney-pro/whitney-medium-italic.woff") format("woff"), url("../assets/fonts/whitney-pro/whitney-medium-italic.ttf") format("truetype"); }
@font-face {
  font-family: "Whitney";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/whitney-pro/whitney-semibold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/whitney-pro/whitney-semibold.woff") format("woff"), url("../assets/fonts/whitney-pro/whitney-semibold.ttf") format("truetype"); }
@font-face {
  font-family: "Whitney";
  font-style: italic;
  font-weight: 600;
  src: url("../assets/fonts/whitney-pro/whitney-semibold-italic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/whitney-pro/whitney-semibold-italic.woff") format("woff"), url("../assets/fonts/whitney-pro/whitney-semibold-italic.ttf") format("truetype"); }
html {
  background-color: #fff;
  color: #31448b;
  font-family: "Whitney", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5; }

strong {
  font-weight: 600; }

.container {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  width: 960px;
  height: 100vh;
  margin: 0 auto; }
  .container .wrapper {
    margin-top: -100px; }
    .container .wrapper .introductory-text {
      width: 480px;
      margin-bottom: 33px; }

.emoji {
  font-size: 40px;
  line-height: 1.325; }

.button {
  padding: 16px 40px;
  font-size: 16px;
  color: #31448b;
  text-decoration: none;
  font-weight: 600;
  border-radius: 5px;
  line-height: 1.125;
  display: inline-block; }
  .button:hover {
    opacity: 0.9; }
  .button__primary {
    background-image: linear-gradient(-180deg, #e4efff 0%, #dae9ff 100%);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16), inset 0 -4px 3px 0 rgba(255, 255, 255, 0.3);
    border: solid 1px #91abd9;
    text-shadow: 0 0 0 #7d87b0; }
    .button__primary:active {
      /* Rectangle 3: */
      background-image: linear-gradient(0deg, #dcebff 0%, #c6d4e8 100%);
      border: solid 1px #8ca5d2;
      box-shadow: inset 0 -1px 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px 3px 0 rgba(0, 0, 0, 0.07), inset 0 2px 4px 0 rgba(49, 68, 139, 0.39); }
