.header {
	padding: 46px 0;
	background-color: rgba(255, 255, 255, 1);
	position: fixed;
	opacity: 1.0;
	z-index: 5;
	top: 0;
	left: 0;
	right: 0;
}

body.scrolled .header {
  opacity: 0.5;
  background-color: transparent;
  transition: opacity .5s;
}

body.scrolled .header nav{
  opacity: 0;
  transition: opacity .5s;
}

body.scrolled .header:hover {
  opacity: 1.0;
  background-color: rgba(255, 255, 255, 1);
  transition: opacity .5s;
}

body.scrolled .header:hover nav{
  opacity: 1.0;
  transition: opacity .5s;
}

a:hover {
	color: #333;
}

p {
	margin-bottom: 0;
}

nav li {
	list-style-type: none;
}

.active {
	color: #333;
	pointer-events: none;
	cursor: default;
}

.header a:hover{
	border-bottom: solid 6px rgba(255,222,68,0.8);
}

.funny-joke {
	padding-top: 138px;
	margin-bottom: 72px;
}

.rand {
	height: 72px;
}

.rand-item {
	display: none;
	position: absolute;
}

.post {
	height: 554px;
	background-color: #FFDE44;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
	transition: opacity ease 1s;
	-webkit-transition: opacity ease 1s;
	-moz-transition: opacity ease 1s;
	-o-transition: opacity ease 1s;
}

.post:hover {
	opacity: 0.8;
}

.post h1 {
	margin: 0;
	z-index: 2;
}

.post img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;

}

article {
	margin-top: 15px !important;
}

article:first-child {
	margin-top: 0 !important;
}

.footer {
	padding: 46px 0 42px;
}

.footer p {
	margin-bottom: 0;
}

.about-text a {
	color: #333;
}

.about-text a:hover {
	border-bottom: solid 6px rgba(255,222,68,0.8);
}

.post-info {
	padding-top: 138px;
}

.post-info h1 {
	margin: 0;
}

.project-images {
	margin-top: 40px;
}

.project-images img {
	margin-top: 20px;
}

.previous-next-project {
	width: 100%;
	position: fixed;
	top: 45%;
	z-index: 9;
}

.previous, .next {
	position: absolute;
	opacity: 1;
	transition: all ease 0.2s;
	-webkit-transition: all ease 0.2s;
	-moz-transition: all ease 0.2s;
	-o-transition: all ease 0.2s;
}

.previous:hover, .next:hover {
	opacity: 0.5;
}

.previous {
	left: 30px;
}

.next {
	right: 30px;
}

.empty {
	opacity: 0.1 !important;
	pointer-events: none;
	cursor: default;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) {
	.header {
		position: relative;
		padding: 20px 0;
	}

	nav li {
		margin-top: 20px;
	}

	.post {
		height: 450px;
		text-align: left !important;
	}
}