@font-face {
    font-family: 'CircularBook';
    src: url('../fonts/lineto-circular-book.ttf') format('truetype');
}
@font-face {
    font-family: 'CircularBookItalic';
    src: url('../fonts/lineto-circular-bookItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'CircularBold';
    src: url('../fonts/lineto-circular-bold.ttf') format('truetype');
    font-weight: normal;
}

/* typeface classes */
.font-book {
    font-family: "CircularBook", "Helvetica Neue", "Helvetica" ,Helvetica, Arial, sans-serif;
}
.font-book-italic {
    font-family: "CircularBookItalic", "Helvetica Neue", "Helvetica" ,Helvetica, Arial, sans-serif;
}
.font-bold {
    font-family: "CircularBold", "Helvetica Neue", "Helvetica" ,Helvetica, Arial, sans-serif;
}

/* font sizes */
.fs14 {
    font-size: 0.875em;
}

.fs18 {
    font-size: 1.125em;
}

.fs22 {
    font-size: 1.375em;
}

.fs36 {
    font-size: 2.25em;
}

.fs64 {
    font-size: 4em;
}

/* line height */
.lh120 {
    line-height: 120%;
}

/* for fs22 */
.lh30 {
    line-height: 136%;
}

.lh40 {
    line-height: 111%;
}

/* for fs36 */
.lh50 {
    line-height: 138%;
}

/* for fs16 */
.lh200 {
    line-height: 200%;
}
