// Color
$white: #fff;
$black: #000;
$dark-grey: #38444c;
$light-grey: #f2f4f5;

// Text shadow
$main-text-shadow: #7d87b0;

// Button color
$blue-lv0: #e4efff;
$blue-lv1: #dae9ff;
$blue-lv3: #91abd9;
$blue-lv4: #dcebff;
$blue-lv5: #c6d4e8;
$blue-lv6: #8ca5d2;

$base-border-radius: 5px;

// Typography
$source-sans: 'Source Sans Pro', sans-serif;

$font-weight-light:    300;
$font-weight-regular:  400;
$font-weight-semibold: 600;
$font-weight-bold:     700;

$base-line-height:       1.5;
$large-text-line-height: 1.2;
$button-line-height:   1.125;
$emoji-line-height:        2;

$xlarge-font-size:   42px;
$base-font-size:     14px;
$small-font-size:    16px;
$emoji-size:         28px;
