// Color
$primary-color: #31448b;
$white: #fff;
$black: #000;

// Text shadow
$main-text-shadow: #7d87b0;

// Button color
$blue-lv0: #e4efff;
$blue-lv1: #dae9ff;
$blue-lv3: #91abd9;
$blue-lv4: #dcebff;
$blue-lv5: #c6d4e8;
$blue-lv6: #8ca5d2;

$base-border-radius: 5px;

// Typography
$whitney: 'Whitney', 'Helvetica Neue', sans-serif;
$base-line-height: 1.5;
$large-text-line-height: 1.2;
$button-line-height: 1.125;
$emoji-line-height: 2;
$base-font-size: 20px;
$small-font-size: 16px;
$emoji-size: 28px;
