// Color
$white:              #fff;
$black:              #000;
$dark-grey:          #888;
$light-grey:         #eee;
$dark-chocolate:  #181d21;

$base-border-radius: 5px;

// Typography
$source-sans: 'Source Sans Pro', sans-serif;

$font-weight-light:    300;
$font-weight-regular:  400;
$font-weight-semibold: 600;
$font-weight-bold:     700;

$base-line-height:     1.6;

$base-font-size:      16px;
$tiny-font-size:      10px;
