@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);

p {
    margin: 0;
}

a {
    $yellow-highlight: #fff796;
    $yellow-highlight-darken: #faee63;

    border-bottom: 1px solid $yellow-highlight-darken;
    color: $black;
    font-weight: $font-weight-semibold;
    text-decoration: none;

    &:hover {
        background: $yellow-highlight;
    }
}

.jumbo {
    font-size: 36px;
}
