@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700);

p {
    margin: 0;
}

a {
    $yellow-highlight: #fff796;

    background: $yellow-highlight;
    color: $black;
    font-weight: $font-weight-semibold;
    text-decoration: none;

    &:hover {
        opacity: .75;
    }
}
