@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,700);

h2 {
    font-size: $xlarge-font-size;
    font-weight: $font-weight-xlight;
    line-height: $large-text-line-height;
}

p {
    margin: 0;
}

a {
    color: $black;
}
