---
layout: default
---

<div class="content post">
  {% include post-title.html %}
  <div class="row">
    <div class="small-12 medium-12 large-6 columns content__body">
        <p class="content__body--text">
            {{ content | remove: '<p>' | remove: '</p>' }}
        </p>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-12 large-12 columns content__image">
      {% for prj_img in page.project_images %}
        <img src="{{ site.baseurl }}/assets/img/{{prj_img}}">
      {% endfor %}
    </div>
  </div>
  {% include pagination.html %}
</div>
