---
layout: default
---

<div class="row post-info">
    <div class="medium-2 medium-offset-1 columns">
        <h1 class="font-book fs22 primary-color">{{ page.title }}</h1>
        <p class="font-book fs18 secondary-color">{{ page.project_type }}</p>
    </div>
    <div class="medium-6 columns left">
        <p class="font-book fs16 lh200 secondary-color">
            {{ content | remove: '<p>' | remove: '</p>' }}
        </p>
    </div>
</div>
<div class="row project-images">
    <div class="medium-12 columns">
        {% for prj_img in page.project_images %}
            <img src="{{ site.baseurl }}/assets/img/{{prj_img}}">
        {% endfor %}
    </div>
</div>
{% if page.previous.url or page.next.url %}
    <div class="previous-next-project">
        {% if page.previous.url %}
            <div class="previous">
        {% else %}
            <div class="previous empty">
        {% endif %}
            <a href="{{ page.previous.url }}" class="font-bold fs22 primary-color">&larr;</a>
        </div>
        {% if page.next.url %}
            <div class="next">
        {% else %}
            <div class="next empty">
        {% endif %}
            <a href="{{ page.next.url }}" class="font-bold fs22 primary-color">&rarr;</a>
        </div>
    </div>
{% endif %}
