.button {
    @include transition(all .2 linear);
    border-radius: $base-border-radius;
    display: inline-block;
    font-size: $small-font-size;
    font-weight: 600;
    line-height: $button-line-height;
    padding: 16px 40px;
    text-decoration: none;

    &:hover {
        opacity: .9;
    }
}
