* {
    margin: 0;
    padding: 0;
}

html {
    background-color: $white;
    color: $black;
    font-family: $akkurat;
    font-size: $base-font-size;
    font-weight: $font-weight-regular;
    line-height: $base-line-height;
}

.wrapper {
    max-width: 400px;
    padding: 40px;
}

.header,
.info {
    margin-bottom: 21px;
}
