html {
    background-color: $white;
    color: $black;
    font-family: $source-sans;
    font-size: $base-font-size;
    font-weight: $font-weight-regular;
    line-height: $base-line-height;
}

.wrapper {
    margin-left: 90px;
    margin-top: 61px;
    padding: 0 20px;
    width: 600px;
}

.header {
    > .email {
        float: right;
    }
}

.jumbo {
    margin-bottom: 60px;
    margin-top: 60px;
}

.info {
    font-size: 0;
    margin-bottom: 31px;

    .label,
    .text {
        display: inline-block;
        font-size: $base-font-size;
        vertical-align: top;
    }

    > .label {
        width: 100px;
    }

    > .text {
        width: 500px;
    }
}

.emoji {
    @include animation-name(blinking);
    @include animation-duration(5s);
    @include animation-timing-function(ease);
    @include animation-iteration-count(infinite);
    cursor: default;
    font-size: $emoji-size;
    line-height: $emoji-line-height;
}

@keyframes blinking {
    0% {
        @include transform(scaleY(1));
    }

    49% {
        @include transform(scaleY(1));
    }

    50% {
        @include transform(scaleY(.05));
    }

    51% {
        @include transform(scaleY(1));
    }

    100% {
        @include transform(scaleY(1));
    }
}
